<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <title>{% block title %}Мой Интернет-Магазин{% endblock %}</title>
</head>
<body>
    <header>
        
        <h1>Мой Интернет-Магазин</h1>
        <nav>
            
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/clothing">Одежда</a></li>
                <li><a href="/shoes">Обувь</a></li>
                <li><a href="/product">Куртка</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        
        {% block content %}
        {% endblock %}
    </main>
   
    <footer>
        
        <p>&copy; 2023 Интернет-магазин</p>
    </footer>
</body>
</html>
